@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<ul>
    <li><a href="mailto:email@example.com">Email me on email@example.com</a></li>
    <li><a href="tel:123456789">Phone me on 123456789</a></li>
</ul>
